.card {
    position: relative;
}

.card img {
    width: 70%;
    border: 10px solid #f0d6fa;
}

/* shows the back since the front card is rotated to the point where it's invisible*/
.card .front {
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
}

.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

.card .back {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}

.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
}