@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300&family=Roboto+Mono:wght@200&display=swap');

/* base styles */
body {
  font-family: Martian Mono, monospace;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  background: #e890e0;
  color: #fff;
}
